@import "tailwindcss";
@import './media.css';
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@layer components {
  .container-custom {
     @apply mx-auto w-[97%] px-[10px];
    max-width: 1758.09px;
  }
}
.bg-main {
  background-image: url('/img/bg_header.png');
  background-repeat: no-repeat;
  background-size: cover;      /* Добавьте это, чтобы масштабировать изображение */
  background-position: right; /* Добавьте это, чтобы центрировать изображение */
}
.btn-gradient {
  border-radius: 8.21px;
  background: linear-gradient(66.25deg, rgba(2, 30, 75, 0.86) 0.829%, rgba(42, 110, 221, 0.86) 99.171%);
  color: white;
  padding: 0.75rem 1.5rem; /* px-6 py-3 */
  font-size: 52.24px;
  font-weight: 200;
}
@media (max-width: 846px) {
  .btn-gradient-media{
    font-size: 32px;
  }
}
@media (max-width: 500px) {
  .btn-gradient-media{
    font-size: 26px;
  }
}
.input-custom-size {
  max-width: 172px;
  height: 41px;
  border-radius: 7.4px;
  backdrop-filter: blur(100px);
  background: rgba(0, 0, 0, 0.1);
}
.input-placeholder::placeholder {
  font-size: 13.61px;
  font-weight: 200;
}
.shadow-custom {
  box-shadow: 11px 5px 4px 0 rgba(2, 64, 180, 0.64);
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
 @theme {
  --container-8xl: 96rem;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* ------------------ Fonts ------------------ */

@font-face {
  font-family: "TT Runs Trial";
  src: url("/fonts/TT Runs Trial DemiBold.ttf") format("truetype"); /* format('ttf') → неверно */
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Runs Trial";
  src: url("/fonts/TT Runs Trial ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Runs Trial";
  src: url("/fonts/TT Runs Trial ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Runs Trial";
  src: url("/fonts/TT Runs Trial Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@layer components {
  .font-ttRuns {
    font-family: "TT Runs Trial", sans-serif;
    font-weight: 600;
  }
  .font-ttRuns-200 {
    font-family: "TT Runs Trial", sans-serif;
    font-weight: 200;
  }
  .font-ttRuns-800{
    font-family: "TT Runs Trial", sans-serif;
    font-weight: 800;
  }
  .font-ttRuns-400{
    font-family: "TT Runs Trial", sans-serif;
    font-weight: 400;
  }
  .h1-link {
    @apply relative inline-block text-black cursor-pointer 
           transition-colors duration-300
           hover:text-blue-500;
  }
  .h1-link::after {
    content: '';
    display: block;
    width: 75%;
    border-bottom: 2px solid #8C2241;
    margin-left: auto;
    margin-right: auto;
    transition: border-color 0.3s ease 0.15s;
  }

  .h1-link:hover::after {
    border-color: #3B82F6; /* Tailwind blue-500 */
  }
  .h2-link {
    @apply relative inline-block text-[#8C2241]  cursor-pointer 
           transition-colors duration-300
           hover:text-blue-500;
  }
.h2-link::after {
     content: '';
    display: block;
    width: 75%;
    border-bottom: 2px solid #00234B;
    margin-left: auto;
    margin-right: auto;
    transition: border-color 0.3s ease 0.15s;
  }
  .h2-link:hover::after {
    border-color: #3B82F6; /* Tailwind blue-500 */
  }
}